<section class="books">

	<section class="library">

		<section [ngClass]="{ selected:book.selected }" class="book" 
    *ngFor="let book of books" (click)="book.selected ? null : select(book)">

			<h4>{{ book.author }}</h4>
			<p>{{ book.title }}</p>
      
		</section>

	</section>

  <hr/>

 	<section class="library basket">

		<section class="book" *ngFor="let book of basket" (click)="removeFromBasket(book)">

			<h4>{{ book.author }}</h4>
			<p>{{ book.title }}</p>
      
		</section>

	</section> 

</section>