
body{
  font-family: Lato;
  text-align:center; 
  color:darkslategrey; 
  font-size:1.25rem; 
  margin:1rem;
}

article{ 

  border-bottom:4px solid lightgrey;
}

article h4{
  color:brown;
}

span{ 
  color:orangered;
}